/* You can add global styles to this file, and also import other style files */
.card-body {
    background-color: #232a33 !important;
    color: rgb(255, 255, 255);
}

pre {
    color: rgb(255, 255, 255);
}

.card-header {
    background-color: #20202a !important;
    border-color: #181924 !important;
    color: rgb(255, 255, 255);
}

.card-footer {
    background-color: #20202a !important;
    border-color: #181924 !important;
}

.request {
    color: blanchedalmond;
}

input[type=text] {
    color: rgb(255, 255, 255);
    background: #525555;
}

input[type=text]:focus {
    color: rgb(255, 255, 255);
    background: #525555;
    
}

::-webkit-input-placeholder { /* Edge */
    color: grey;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: grey;
  }
  
  ::placeholder {
    color: grey;
  }